
/*ヘッダ設定１*/
.header_inner {
    display: flex;
    justify-content: space-between;
}

/*ヘッダロゴ設定*/
.head___logo{
    width: 200px;
    height:50px;
}
/*ヘッダ右設定*/
.header_inner_right{
    text-align: right;
    margin-top: 20px;
}
/*idea設定*/
.idea_pic{
    position: relative;
}
/*idea画像位置設定*/
.idea_pic{
    display: flex;
    justify-content: flex-end;
}
.idea_pic_first{
    width: 60%;
    height:200px;
    position: absolute;
    width: 650px;
    height: 450px;
    z-index: 0;　　　/*重なり優先順位　　低*/
}
/*idea 方針コメントグループの設定*/
.idea_tittle-gr{
    position: absolute;　　/*重なり許可*/
    top: 150px;　　　/*relativeからの距離*/
    z-index: 10;    /*重なり優先順位　　高*/
    margin-top: 100px;
    margin-left:200px;
}
/*フォント設定*/
.idea_title-gr_tittle-en {
    font-family: "Shadows Into Light", serif;
    font-size: 80px;
}
.idea_tittle-gr_tittle-jp{
    /*margin-top: 180px;*/
    /*margin-left:200px;*/
    }


/**************新着情報********/
.news_tittle-en{
    position: static;
}