
/*ヘッダ設定１*/
.header_inner {
    display: flex;
    justify-content: space-between;
}

/*ヘッダロゴ設定*/
.head___logo{
    width: 200px;
    height:50px;
}
/*ヘッダ右設定*/
.header_inner_right{
    text-align: right;
    margin-top: 20px;
}
/*****会社理念idea設定*****/
.idea{
position: relative;
}
/*idea画像位置設定*/
.idea_pic{
    display: flex;
    justify-content: flex-end;
}
.idea_pic_first{
    width: 60%;
    height:auto;
    z-index: 0;　　　/*重なり優先順位　　低*/
}
/*idea 方針コメントグループの設定*/
.idea_tittle-gr{
    top: 100px;　　　/*relativeからの距離*/
    z-index: 10;    /*重なり優先順位　　高*/
    margin-left:200px;
    position: absolute;
}
/*フォント設定*/
.idea_title-gr_tittle-en {
    font-family: "Shadows Into Light", serif;
    font-size: 80px;
}
.idea_tittle-gr_tittle-jp{
    
    }


/**************新着情報********/
.news_tittle{
    text-align: center;
}
.news_tittle-en{
    font-family: "Shadows Into Light", serif;
    }
.news_tittle-jp{
    font-size: 20px;
}
.news_group{
    width: 60%;
    margin: 0 auto;
}

.news_group_detail{
    display: flex;
        padding: 15px;
        border-bottom: 1px solid #000;
}

.news___date{

}

.news___label{
    width: 100px;
        height: 20px;
        background: #e50606df;
        border-radius:  10px;
        color:azure;
        text-align: center;

}
.news___text{

}

/**************詳細（about)********/
/*aboutタイトル位置*/


.about_tittle{
    text-align: center;
}

.about_outline {
    display: flex;
    justify-content:space-around;
    width: 80%;
    
}



/*コメント画像設定１*/
.about_outline_comment{
    width: 40%;
    height:auto;
  /*  margin-left: 30%;*/
}
.about_outline_pic {
    width: 40%;
    height: auto;
}
/*idea画像位置設定*/
.about___pic1{
    width: 100%;
    height: 100%;
}

/**************サービス内容(service)********/
.service_tittle {
    text-align: center;
}
.service_tittle-en {
    font-family: "Shadows Into Light", serif;
}
.service_boxs{
    display: flex;
    display: grid;
    margin:  0 auto;
    width: 80%;
   
        grid-template-rows: 150px 150px;
        grid-template-columns: 1fr 1fr;
}
.service_boxs_box1{
    grid-column: 1/2;
        grid-row: 1/3;
        background: #e80b8c;
}
.service_boxs_box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #e57f9c;
}
.service_boxs_box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #f1b6bd;
}